[worldserver]

########################################
# Dead Means Dead configuration
########################################
#
#   DeadMeansDead.Enable
#
#       Enable the module
#
#       Default: 1
#
DeadMeansDead.Enable = 1

#
#   DeadMeansDead.Announce
#
#       Announce the mod when players log in
#
#       Default: 1
#
DeadMeansDead.Announce = 1

#
#   DeadMeansDead.Enable.Dungeons
#   DeadMeansDead.Enable.Raids
#   DeadMeansDead.Enable.World
#
#       Adjust respawn timer in (Dungeons/Raids/World)?
#
#       Dungeons: 5-player instanes without a raid lockout mechanism
#       Raids: Any instance with a raid lockout
#       World: Outside of an instance
#
#       Default:
#           DeadMeansDead.Enable.Dungeons = 1
#           DeadMeansDead.Enable.Raids = 1
#           DeadMeansDead.Enable.World = 0
#
DeadMeansDead.Enable.Dungeons = 1
DeadMeansDead.Enable.Raids = 1
DeadMeansDead.Enable.World = 0

#
#   DeadMeansDead.RespawnTime.Multiplier.Global
#   DeadMeansDead.RespawnTime.Multiplier.Dungeons
#   DeadMeansDead.RespawnTime.Multiplier.Raids
#   DeadMeansDead.RespawnTime.Multiplier.World
#
#       Multipliers to apply to creature's respawn timers.
#
#       Global will be applied to all creatures for any area type (Dungeons/Raids/World) that is enabled.
#       .Dungeons/.Raids/.World will additionally modify the multiplier set by .Global
#
#       Setting the value to 0.0 will disable respawn entirely for those creatures.
#
#       Default for all: 1.0
#
DeadMeansDead.RespawnTime.Multiplier.Global = 0.0
DeadMeansDead.RespawnTime.Multiplier.Dungeons = 1.0
DeadMeansDead.RespawnTime.Multiplier.Raids = 1.0
DeadMeansDead.RespawnTime.Multiplier.World = 1.0

#
#   DeadMeansDead.RespawnTime.Original.Min
#   DeadMeansDead.RespawnTime.Original.Max
#
#       The minumum/maximum respawn time (in seconds) that a creature must have BEFORE modification 
#       in order to be considered for adjustment.
#
#       Any creature whose database-derived respawn time is outside this range will not be changed.
#
#       Default: 
#           DeadMeansDead.RespawnTime.Original.Min = 300            (5 minutes)
#           DeadMeansDead.RespawnTime.Original.Max = 86400          (24 hours)
#
DeadMeansDead.RespawnTime.Original.Min = 300
DeadMeansDead.RespawnTime.Original.Max = 86400

#
#   DeadMeansDead.RespawnTime.Adjusted.Min
#   DeadMeansDead.RespawnTime.Adjusted.Max
#
#       The min/max respawn time (in seconds) that this module will adjust a creature's respawn time to.
#
#       NOTE: 
#           If the adjusted respawn time is 0 (respawn disabled), the .Min value here will be ignored
#           If the creature's original respawn time is greater than .Max value, no changes will be made
#
#       Default:
#           DeadMeansDead.RespawnTime.Adjusted.Min = 300            (5 minutes)
#           DeadMeansDead.RespawnTime.Adjusted.Max = 86400          (24 hours)
#
DeadMeansDead.RespawnTime.Adjusted.Min = 300
DeadMeansDead.RespawnTime.Adjusted.Max = 86400

#
#   DeadMeansDead.Filter.OnlyKilledByPlayers
#
#       Only adjust creatures that were killed by players?
#   
#       Default: 1
#
DeadMeansDead.Filter.OnlyKilledByPlayers = 1